
body {
	margin: 0;
	padding: 0;
}
/*INDEX*/

h1 {
	position: relative;
	top: 6rem;
	font-size: 8rem;
	font-family: 'Bebas Neue', cursive;
	color: #fff;
	text-shadow: 4px 4px 4px #000;
}

p {
	position: relative;
	top: -3.5rem;
	font-size: 2rem;
	font-family: 'Alkatra', cursive;
	color: #eee;	
	text-shadow: 2px 2px 2px #000;
}

.boton{
	font-size: 1.5rem;
	position: relative;
	top: -6rem;
	display: block;
	background-color: #f00;
	color: #fff;
	text-decoration: none;
	margin: 1rem;
	padding: 1rem;
	border-radius: 5%;
}


.promo {
	top: center;
	left: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	margin: auto;
	position: relative;
	z-index: 2;
}

#hero {
	min-height: 100vh;
	position: relative;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.capa {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1c1c1d;
	opacity: 0.5;
	mix-blend-mode: overlay;
}

/*PELICULAS*/

.fondo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.banner {
	position: relative;
	z-index: 4;
	top: -6rem;
}

.pelicula {
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-size: 5rem;
	color: #f00;
	text-shadow: 2px 2px 2px #fff;
}

.contenedor {
	position: relative;
	top: -2rem;
}



.sinopsis { 
	text-align: left;
	font-size: 0.9rem;
	color: #fff; 
	margin: 0.3rem;
	padding: 0.3rem;}

.director {
	color: #f00;
}

.actores {
	color: #999;
}

/*MENU*/
.menu {
	position: relative;
	z-index: 2;
	list-style: none;
	padding: 0;
	background-color: #555;
	width: 100%;
	max-width: 2000px;
	margin: auto;
}


.menu li a {
	text-shadow: 1px 1px 1px #444;
	text-decoration: none;
	color: #000;
	padding: 10px;
	display: block;
	box-sizing: border-box;
}

.menu li {
	display: inline-block;
	text-align: center;
}

.menu li a:hover {
	background-color: #000;
	color: #f00;
	outline: 2px solid #fff;
}

.play {
	position: absolute;
	z-index: 4;
	left: 25%;
	top: 55%;
	border: none;
}
